

h2{
    text-align: center;
    padding-bottom: 5%;
}
h3{
    text-align: right;
}
p{
   text-align: center;
   
}
.col-lg-3{
    
   background-color: rgb(165, 151, 151);
    
   margin: 0 auto;
   float: none; 
   margin-bottom: 5px; 
    max-resolution: 0% 5%;
    
}
.container{
display: grid;
 grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
 grid-gap: 1rem;
 grid-auto-flow: dense;
 padding: 1rem;

}
.element{
    background-color: lightblue ;
}